<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sails-React Boilerplate</title>
    <% htmlWebpackPlugin.options.styles.forEach(function(style){ %>
      <link href="<%- style %>" rel="stylesheet">
    <% }); %>
  </head>
  <body>
    <div id="root"><%- htmlWebpackPlugin.options.content %></div>
    <script type="text/javascript">
      window.SSR = <%- htmlWebpackPlugin.options.ssr %>;
    </script>
    <% htmlWebpackPlugin.options.scripts.forEach(function(script){ %>
      <script type="text/javascript" src="<%- script %>"></script>
    <% }); %>
  </body>
</html>
