@import (css) url('https://fonts.googleapis.com/css?family=Poppins:200,300,700');

@bgColor: #1e1e2f;
@textColor: #ffffff;

.styled-app {
  font-family: 'Poppins';
  background-color: @bgColor;
  color: @textColor;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .splash {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -306px;
    font-weight: 200;
    font-size: 2.5rem;

    .title {
      height: 100px;
      line-height: 100px;
      text-align: center;
    }

    .icon {
      position: absolute;
      width: 512px;
      height: 512px;
      left: 50%;
      margin-left: -256px;
      background: url('/assets/modules/app/images/icon.png');
    }
  }
}
